[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
*.csproj
*.sln
*.slnx
*.pidb
*.suo
*.user
*.userprefs
.vs/
.vscode/
docs/.obsidian/*
!docs/.obsidian/app.json
!docs/.obsidian/appearance.json
!docs/.obsidian/community-plugins.json
!docs/.obsidian/core-plugins.json
Assets/TextMesh Pro/
Assets/TextMesh Pro.metaBuilds/
Builds/
Assets/TextMesh Pro.meta
*.zip
